<a routerLink="/"><button>Go back</button></a> <!-- Button to go back to main page -->
<div class="title-container">
  <h1 class="title">{{ title }}</h1> <!-- Display the title -->
</div>
<div class="container"> <!-- Div containing the boxes with data -->
  <div class="boxes">
      <p>Nb of entries</p>
      <p>{{ nbParticipations }}</p>
  </div>
  <div class="boxes">
      <p>Total number medals</p>
      <p>{{ nbMedals }}</p>
  </div>
  <div class="boxes">
      <p>Total number athletes</p>
      <p>{{ nbAthletes }}</p>
  </div>
</div>
<!-- Display the chart -->
<div id="chart-container" *ngIf="data; else loading">
    <ngx-charts-line-chart
    [legendPosition]="legendPosition"
    [view]="view"
    [results]="data"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel">
    </ngx-charts-line-chart>
  </div>
  <!-- Template displayed if no data -->
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
  