<h2>{{ title }}</h2>
<p>
    Number of jos : {{ nbJos }}
    Number of countries : {{ nbCountries }}
</p>
<div style="display: block;">
    <ngx-charts-pie-chart
        [view]="view"
        [results]="olympicData"
        [gradient]="gradient"
        [gradient]="gradient"
        [legend]="showLegend"
        [labels]="labels"
        [doughnut]="doughnut"
        [arcWidth]="arcWidth"
        [tooltipDisabled]="tooltipDisabled"
        (select)="chooseCountry($event)"
        [animations]="animations">
        <ng-template #tooltipTemplate let-model="model">
            <!-- fields are series/name/value -->
            <div class="tt">
                {{ model.name }}<br/> 
                🏅
                {{ model.value }}
            </div>
        </ng-template>
    </ngx-charts-pie-chart>
</div>
