<h2>{{ title }}</h2>
<p>
    Number of jos : {{ nbJos }}
    Number of countries : {{ nbCountries }}
</p>
<div *ngIf="data; else loading" style="display: block;">
    <ngx-charts-pie-chart
        [view]="view"
        [results]="data"
        [gradient]="gradient"
        [gradient]="gradient"
        [legend]="showLegend"
        [labels]="labels"
        [doughnut]="doughnut"
        [arcWidth]="arcWidth"
        [tooltipDisabled]="tooltipDisabled"
        (select)="chooseCountry($event)"
        [animations]="animations">
        <ng-template #tooltipTemplate let-model="model">
            <div class="tt">
                {{ model.name }}
                <br/>
                🏅
                {{ model.value }}
            </div>
        </ng-template>
    </ngx-charts-pie-chart>
</div>
<ng-template #loading>
    <p>Loading...</p>
</ng-template>